fs=no
autofit-larger=70%x70%
keep-open=no
hwdec=auto
audio-pitch-correction=yes
slang=jp,jpn,en,it
alang=jp,jpn,en,it
msg-color=yes
term-osd-bar=yes
cursor-autohide=1000
osd-font='Iosevka Nerd Font'
save-position-on-quit=yes
volume=65
screenshot-directory=/home/{{ username }}/{{ XDG_IMAGES_FOLDER }}
